In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df= pd.read_csv("q_quora.csv")
df.shape

C:\Users\shree\AppData\Local\Temp\ipykernel_10396\1476134296.py:1: DtypeWarning: Columns (7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("q_quora.csv")

(404351, 13)

In [9]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = df.drop(columns=[
    "Unnamed: 6", 
    "Unnamed: 7", 
    "Unnamed: 8", 
    "Unnamed: 9", 
    "Unnamed: 10", 
    "Unnamed: 11", 
    "Unnamed: 12"
])

In [15]:
df.sample(5)

,id,qid1,qid2,question1,question2,is_duplicate
112025,112025,222120,222121,Is there any way to recover e-mails that were ...,Is there anyway to retrieve my deleted emails ...,1
253046,253046,498145,498146,Will I be taxed on my July 2016-January 2017 i...,I am going to complete my final year of a BTec...,0
228689,228689,450669,450670,What are some interesting one liners?,What are some interesting one liners on America?,0
357996,357996,701059,701060,Is dettol bar soap good for daily use?,How do you mix two soap bars?,0
173377,173377,342553,342554,Modi's surgical strike on black money: will it...,What do you do when there simply seems to be n...,0

In [16]:
df.shape

(404351, 6)